body {
  font-family: Arial, sans-serif;
}

.nav {
  margin: auto;
  max-width: 800px;
}

.container {
  margin-top: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.container-width {
  max-width: 70%;
  width: 70%;
  margin: auto;
}

.table-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
